<p class="mt-4 text-center">Edit Folder</p>
<div class="m-auto w-full max-w-sm">
  <form method="POST" action="/folders/<%= name %>/edit" class="form">
    <div class="mb-4">
      <label for="name" class="label">New folder name: </label>
      <input
        class="input"
        id="name"
        type="text"
        name="name"
        value="<%= name %>"
        required
      />
    </div>
    <div class="flex items-center justify-center">
      <a class="btn cancel" href="/folders/<%= name %>">Cancel</a>
      <button class="btn" type="submit">Update</button>
    </div>
  </form>
</div>
