<h2 class="page-header">
  <a href="/folders/<%= folder.name %>"><%= folder.name %></a>
</h2>

<a class="btn btn-primary" href="/folders/<%= folder.name %>/edit">Edit</a>
<a class="btn btn-danger" href="/folders/<%= folder.name %>/delete">Delete</a>

<div class="tour-details-btn-grid">
  <a class="btn btn-info tour-details-category-btn" href="/folders"
    >Back to All Folders
  </a>
</div>
