<p class="mt-4 text-center">Create New Folder</p>
<div class="m-auto w-full max-w-sm">
  <form method="POST" action="/folders/new" class="form">
    <div class="mb-4">
      <label for="name" class="label">Folder Name: </label>
      <input id="name" type="text" name="name" class="input" required />
    </div>
    <div class="flex items-center justify-center">
      <a class="btn cancel" href="/folders">Cancel</a>
      <button class="btn" type="submit">Create</button>
    </div>
  </form>
</div>
