<% if (user) {%>
    <h1 class="text-center mt-2">Welcome, <span class="text-link"><%= user.email %>!</span></h1>    
  <% } else { %>
    <h1 class="text-center p-4"><a href="/log-in" class="text-link">Log in</a> or <a href="/register" class="text-link">Register</a> to get all functionality</h1>  
    
  <%}%>