@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  min-height: 100vh;
}

@layer components {
  .btn {
    @apply bg-primary-congo hover:bg-primary-ligth active:hover:bg-primary-ligth m-2 rounded-lg px-3 py-1 text-2xl text-white hover:text-black focus:outline-none;
  }

  .cancel {
    @apply text-primary-congo border-primary-congo border bg-white;
  }

  .edit {
    @apply bg-primary-green hover:bg-primary-greenligth active:hover:bg-primary-greenligth;
  }

  .delete {
    @apply bg-primary-red hover:bg-primary-redligth active:hover:bg-primary-redligth;
  }

  .label {
    @apply mb-2 block text-xl font-light;
  }

  .input {
    @apply text-primary-congo w-full appearance-none rounded-lg border px-3 py-2 leading-tight shadow;
  }

  .form {
    @apply mb-4 mt-8 rounded-lg bg-white px-8 pb-8 pt-6;
  }

  .text-link {
    @apply text-primary-congo font-bold;
  }
}
